<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<ul>
<% @comments.each do |c|%>
  <li><%= c.user.email%> says "<%= c.comment%>" about this article: <strong><%= link_to c.article.title, article_path(c.article_id) %></strong></li>
  
<% end %>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Article</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.comment %></td>
        <td><%= comment.article_id %></td>
        <td><%= comment.parent_id %></td>
        <td><%= link_to 'Show', article_comments_path(comment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

