<div id="<%= dom_id article %>">
  <div class="card">
  <%=image_tag article.image.url%>
  
  <div class="container">    
    <h2 class=""><%= article.title %></h2>
    <p class=""><%= article.description %></p>
    <p>Tags:</p> <span class="tag-cloud"><%=article.tag_list%></span>
  </div>
</div>
</div>