<%= form_for(@article, html: {multipart: true}) do |f| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>


      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= f.label :tags %><br />
  <%= f.text_field :tag_list %>
  </p>

  <div>
    <%= f.label :title, style: "display: block" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description, style: "display: block" %>
    <%= f.text_area :description %>
  </div>

  <p>
  <%= f.label :image, "Attach an Image" %><br />
  <%= f.file_field :image %>
</p>

  <div>
    <%= f.submit %>
  </div>
<% end %>
