
<div class="">
<p style="color: green"><%= notice %></p>
<%= render @article %>
<div class="image">
</p>
</div>
</div>
<div>
<%= link_to "Edit this article", edit_article_path(@article), class: 'link-to-text-color'%> |
<%= link_to "Back to articles", articles_path, class: 'link-to-text-color'%>

<%= button_to "Destroy this article", @article, method: :delete %>
</div>
